<div class="row">
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="font-medium font-16 text-uppercase">CONSTRUCTION</h4>
                        <div class="d-flex align-items-center mb-1">
                            <span class="text-muted">Avancement</span>
                            <div class="ml-auto">
                                <h5 class="font-medium text-success mb-0">0%</h5>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-success" style="width: 0%; height: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="font-medium font-16 text-uppercase">PAIEMENTS</h4>
                        <div class="d-flex align-items-center mb-1">
                            <span class="text-muted">Avancement</span>
                            <div class="ml-auto">
                                <h5 class="font-medium text-info mb-0">60%</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-info" style="width: 40%; height: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
