<app-progressions></app-progressions>


<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<app-suivi-budget></app-suivi-budget>
<!-- ============================================================== -->
<!-- Table -->

<!-- ============================================================== -->
<!-- Recent comment
<============================================================== -->
<div class="row">

    <!-- column -->
    <div class="col-lg-4">
        <app-prestataires></app-prestataires>
    </div>
    <!-- column -->
    <div class="col-lg-4">
      <app-todo-list></app-todo-list>
  </div>
  <!-- column -->
  <div class="col-lg-4">
    <app-todo-list></app-todo-list>
</div>
</div>
<!-- ============================================================== -->
<!-- Recent comment-->
<!-- ============================================================== -->
