<div class="card">
    <div class="card-body border-bottom">
        <h4 class="card-title font-16 text-uppercase mb-0">PRESTATAIRES</h4>
    </div>
    <div class="card-body">
    <ul class="chatonline scrollable mb-0">
        <li class="d-flex flex-row comment-row m-t-0 border-bottom-0 py-3" *ngFor='let chat of chats'>
            <div class="call-chat">
                <button class="btn btn-success text-white btn-circle btn" type="button">
                    <i class="fas fa-phone"></i>
                </button>
                <button class="btn btn-info btn-circle btn" type="button">
                    <i class="far fa-comments"></i>
                </button>
            </div>
            <div>
                <img src={{chat.Image}} alt="user" width="40" class="rounded-circle">
            </div>
            <div class="ml-2">
                <span class="text-dark text-muted">
                    {{chat.Name}}
                    <small *ngIf="chat.Status==='Online'" class="d-block text-success d-block"> {{chat.Status}} </small>
                    <small *ngIf="chat.Status==='Courtier'" class="d-block text-danger d-block"> {{chat.Status}} </small>
                    <small *ngIf="chat.Status==='Mikit'" class="d-block text-warning d-block"> {{chat.Status}} </small>
                    <small *ngIf="chat.Status==='Busy'" class="d-block text-info d-block"> {{chat.Status}} </small>
                </span>
            </div>
        </li>
    </ul>
</div>
</div>
