<div class="card">
    <div class="card-body pb-0">
        <h4 class="card-title font-16 text-uppercase mb-2">TO DO List</h4>
    </div>
    <div class="comment-widgets scrollable">
        <!-- Comment Row -->
        <div *ngFor='let rc of recentComm' class="d-flex flex-row comment-row my-0">
            <div>
                <img src={{rc.Image}} alt="user" width="50" class="rounded-circle">
            </div>

            <div class="comment-text w-100">
                <h5>{{rc.Name}}</h5>
                <span class="text-muted font-12">{{rc.Time.toDateString()}}</span>
                <span class="mb-3 mt-3 d-block mail-desc">
                    {{rc.Message}}
                </span>
                <a href="javacript:void(0)" class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>Approve</a>
                <a href="javacript:void(0)" class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                                            Reject</a>
            </div>
        </div>

    </div>
</div>
